<table cellpadding="0" cellspacing="0">
    <tr>
        <td style="text-align: left;font-family: Arial, sans-serif;font-size: 12px;line-height: 15px;color:#000000;width: 100%;">Regards,</td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="text-align: left;font-family: Arial, sans-serif;font-size: 12px;line-height: 15px;color:#000000;width: 100%;">
            <strong>Sylvain Choquel</strong>&nbsp;Digital Director<br/>
            <span style="color:#EC008C;">M.</span> 0410297459&nbsp;            <span style="color:#EC008C;">P.</span> (03) 9938 6666
            &nbsp;<span style="color:#EC008C;">F.&nbsp;</span>(03) 9827 8454<br/>            Area 6, 560 Church St, Richmond VIC 3121
        </td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td><a href="http://www.cassette.com.au" target="_blank"><img src="http://www.cassette.com.au/assets/cassette-logo.jpg" width="106" height="22" alt="Cassette" border="0" style="display: block;"/></a></td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="text-align: left;font-family: Georgia, Times, 'Times New Roman', serif;font-size: 14px;line-height: 12px;color:#EC008C;font-style: italic;">Visit our new website
            <a href="http://www.cassette.com.au" target="_blank" style="text-decoration: underline;color:#EC008C;">cassette.com.au</a></td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="text-align: left;font-family: Arial, sans-serif;font-size: 10px;line-height: 11px;color:#b5b5b5;width: 100%;border-top:1px solid #e8e9ea;padding: 10px 0 0 0;">
            This email and any attachments are confidential. They may contain legally privileged
            information or copyright material. You should not read, copy, use or disclose them without
            authorisation. If you are not an intended recipient, please contact us at once by return email
            and then permanently delete both messages.
        </td>
    </tr>
</table>
<unsubscribe>unsubscribe</unsubscribe>