<font size="2" color="black" face="Arial, sans-serif">
 -------------------------------------------------------------------------------------<br/>
<strong>Cassette is moving out!</strong> From Monday March 7th come<br/>
and say hi at our new office inside the Bryant and May building:<br/>
560 Church Street, Richmond.<br/>
-------------------------------------------------------------------------------------<br/>
</font>
<br/>
<font face="Arial, sans-serif" size="3">Regards,</font><br/><br/>
<font face="Arial, sans-serif" size="3"><strong>Sylvain Choquel</strong></font><br/>
<font face="Arial, sans-serif" color="grey" size="2"><strong>Title</strong></font><br/>
<br/>
<font color="grey" size="2" face="Arial, sans-serif">
Phone&nbsp;&nbsp;&nbsp;(03) 9938 6666<br/>
Fax&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(03) 9827 8454<br/>
Mobile&nbsp;&nbsp;&nbsp;&nbsp;XXXX XXX XXX<br/>
</font><br/><br/>
<font color="grey" size="2" face="Arial, sans-serif"><img src="http://clients.cassette.cc/cassette/logo.jpg" alt="Cassette" width="91" height="17" border="0"/><br/><Br/>
Design. Print. Web.<Br/>
Level 2, 299 Toorak Road,<Br/>
South Yarra, Australia 3141<Br/><Br/>
</font>
<a href="http://www.cassette.cc" style="text-decoration: none;"><font color="grey" size="2" face="Arial, sans-serif">www.cassette.cc</font></a><br/>
<a href="http://www.cassetteblog.tumblr.com/" style="text-decoration: none;"><font color="grey" size="2" face="Arial, sans-serif">Tumblr</font></a><br/>
<a href="http://www.facebook.com/group.php?gid=27552322413&ref=ts" style="text-decoration: none;"><font color="grey" size="2" face="Arial, sans-serif">Facebook</font></a><br/>
<a href="http://twitter.com/cassettetweet"  style="text-decoration: none;"><font color="grey" size="2" face="Arial, sans-serif">Twitter</font></a><br/>
<font color="grey" size="2" face="Arial, sans-serif" >Cassette is a carbon neutral company</font><Br/><Br/>

<font color="grey" size="xx=small" face="Arial, sans-serif">
This email and any attachments are confidential. They may contain legally privileged<br/>
information or copyright material. You should not read, copy, use or disclose them without<br/>
authorisation. If you are not an intended recipient, please contact us at once by return email<Br/>
and then permanently delete both messages.
</font>
